<%- include("template/cabecera.ejs", {tituloWeb:"Inicio" })%>
    <h2 class="text-center display-1 text-capitalize p-5">
        <%=titulo%>
    </h2>
    <div class="container bg-primary rounded text-center align-items-center justify-content-center border border-dark">
        <div class="row p-5 text-white">
            <div class="col-lg-6 col-12">
                <h1 class="mb-5">Acceder a Pokémon</h1>
                <a class="btn btn-success btn-block" href="/pokemon">Ir a Pokémon</a>
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="mb-5">Acceder a Entrenadores</h1>
                <a class="btn btn-success btn-block" href="/entrenador">Ir a Entrenadores</a>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-12 col-6 text-white">
                <h1 class="text-center mb-5">Listado completo de la Base de Datos Pokémon</h1>
                <a class="btn btn-success btn-block" href="/listado">Ir a listado completo</a>
            </div>
        </div>
    </div>
    <%- include("template/footer.ejs")%>